<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/products.css">
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3 class="text-center py-5 text-primary">Cart Id: {{cartId}}</h3>
            {{#if products.length}}
                {{#each products}}
                    <div class="col-md-9 mb-4">
                        <div class="d-flex">
                            <div class="col-md-4">
                                <img src="{{this.productId.thumbnail}}" class="img-thumbnail" alt="{{this.productId.title}}">
                            </div>
                            <div class="col-md-8">
                                <div class="mx-4">
                                    <h5 class="card-title">{{this.productId.title}}</h5>
                                    <p class="card-text">{{this.productId.description}}</p>
                                    <p class="card-text">Price: ${{this.productId.price}}</p>
                                    <p class="card-text">Quantity: {{this.quantity}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p>No products in the cart</p>
            {{/if}}
        </div>
    </div>
</div>
