{{#if carts.length}}
<h1>Cart</h1>
<ul>
    {{#each carts}}
    {{#each this.products}}
    <h5>{{this.productId.title}}</h5>
    <p>{{this.productId.description}}</p>
    <p>Price: ${{this.productId.price}}</p>
    <p>Quantity: {{this.quantity}}</p>
    {{/each}}
    {{/each}}
</ul>
{{else}}
<p>No products in the cart</p>
{{/if}}