<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Products</title>
  <link rel="stylesheet" href="/css/products.css">
</head>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 class="text-center py-5 text-primary">Products</h2>
      <div class="row" id="product-list">
        {{#each products.docs}}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text">{{this.price}}</p>
              <p class="card-text">Stock: {{this.stock}}</p>
              <a href="#" class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to cart</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{#if products.totalPages}}
      <div>
        <p>Page {{products.currentPage}} of {{products.totalPages}}</p>
        <div>
          {{#if products.hasPrevPage}}
          <a href="#" onclick="goToPage('{{products.prevPage}}', event)">&lt; Previous</a>
          {{/if}}
          {{#if products.hasNextPage}}
          <a href="#" onclick="goToPage('{{products.nextPage}}', event)">Next &gt;</a>
          {{/if}}
        </div>
      </div>
      {{else}}
      <p>No products found</p>
      {{/if}}
    </div>
  </div>
</div>
<script>

  function goToPage(page, event) {
    event.preventDefault();

    const currentUrl = window.location.href;
    const currentSearchParams = new URLSearchParams(window.location.search);
    const queryParams = new URLSearchParams();

    currentSearchParams.forEach((value, key) => {
      queryParams.set(key, value);
    });

    if (page) {
      queryParams.set('page', page);
    }

    const baseUrl = currentUrl.split('?')[0];
    const newUrl = baseUrl + '?' + queryParams.toString();

    window.location.href = newUrl;
  }

  function addToCart(productId) {
    fetch(`/api/carts/{{user.cart}}/products/${productId}`, {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ productId }),
    })
      .then(res => res.text())
      .then(data => console.log(data))
      .catch(err => console.error(err));
  }
</script>